extends ../layouts/default.pug

block content
  
  div(id=navItems[0].replace(' ', '-'))
    include ../layouts/partials/b-calc

  div(id=navItems[1].replace(' ', '-'))
    .container
      h2.title Школа рекламы
      .subtitle.hideme Учение - свет!

      - var tabs = ["Ролик в рекламном блоке", "Читалка в новостях", "Читалка в рекламном блоке", "Размещение в соло-спотах", "Партнёрство информационных или игровых рубрик"]

      .tabs-side
        ul.tabs-side__nav(data-tabs='')
          each item, value in tabs
            li
              if value == 0
                a(data-tabby-default='' href='#tab-'+value)= item
              else
                a( href='#tab-'+value)= item
        .tabs-side__contents
          #tab-0.tabs-side__content
            .tabs-side__content-inner
              h3 Партнёрство информационных или игровых рубрик
              p Размещение аудиороликов и упоминаний партнера в информационных (новости, погода) или игровых рубриках (часто с розыгрышем подарков от партнера).
              .tabs-player
                +player({title: 'Примеры партнерства игровой рубрики', url: 'player.mp3', playlist: 'reklama-school-1'})
                +player({title: 'Примеры партнерства информационной рубрики', url: 'player.mp3', playlist: 'reklama-school-1'})
          #tab-1.tabs-side__content
            .tabs-side__content-inner
              h3 Читалка в новостях
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis nostrum vel dolorem temporibus quas, in totam quis. Necessitatibus repudiandae ex laboriosam inventore illum placeat quidem vero facere explicabo commodi. Est.
          #tab-2.tabs-side__content
            .tabs-side__content-inner
              h3 Читалка в рекламном блоке
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, libero. Hic excepturi fuga ut, est quae, saepe tempore nulla aliquam doloremque tempora eligendi distinctio explicabo, quo esse debitis numquam pariatur.
          #tab-3.tabs-side__content
            .tabs-side__content-inner
              h3 Размещение в соло-спотах
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione consectetur quam odit reiciendis, cum eum debitis voluptatum iusto, voluptate quibusdam, repudiandae asperiores. Hic architecto, ab blanditiis magni exercitationem numquam inventore.
          #tab-4.tabs-side__content
            .tabs-side__content-inner
              h3 Партнёрство информационных или игровых рубрик
              p Размещение аудиороликов и упоминаний партнера в информационных (новости, погода) или игровых рубриках (часто с розыгрышем подарков от партнера).
              .tabs-player
                +player({title: 'Примеры партнерства игровой рубрики', url: 'player.mp3'})

      .big-block
        div
          h3.big-block__title Какой вид рекламы вам подходит?
          p Пройдите простой тест и подберите лучший тип рекламы для вашего проекта
        a.button-next.big-block__button пройти тест и узнать


      .video-slider-wrapper    
        .video-slider
          .video-slider__inner.swiper-container.slider-group
            .swiper-wrapper
              each item in ["1", "2", "3"]
                .video-slider__item.swiper-slide
                  .b-video.video-wrapper
                    .b-video__cover
                    iframe(class="b-video__video" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" data-src="https://www.youtube.com/embed/_MBEr2eXJ9Q")

        .video-slider-content
          .video-slider-content__inner.swiper-container.slider-group
            .swiper-wrapper
              each item, value in ["1", "2", "3"]
                .video-slider-content__item.swiper-slide
                  .video-slider-content__title
                    =value 
                    | как мы создаем рекламные ролики?
                  p Пройдите простой тест и подберите лучший тип рекламы для вашего проекта ройдите простой тест и подберите лучший тип рекламы для вашего проекта
            .swiper-pagination
            .swiper-navigation
              .swiper-button-next
              .swiper-button-prev

  div(id=navItems[2].replace(' ', '-'))
    .container
      .section-video-creates
        .section-video-creates__side
          h2.title Создание роликов
          .subtitle В зависимости от сложности исполнения и количества голосов ролики делятся на три вида:

          include ../components/sliderPlyers/sliderPlayers

        .section-video-creates__content

          - var tabs = ["Ролик в рекламном блоке", "Читалка в новостях", "Читалка в рекламном блоке", "Размещение в соло-спотах", "Партнёрство информационных или игровых рубрик"]
          .tabs-voices
            ul.tabs-voices__nav(data-tabs='')
              each item, value in ["мужские голоса", "женские голоса"]
                li
                  if value == 0
                    a(data-tabby-default='' href='#tab2-'+value)= item
                  else
                    a(href='#tab2-'+value)= item
            .tabs-voices__contents
              #tab2-0.tabs-voices__content
                .player3-wrapper
                  each item, value in ["Молодой, бодрый голос", "Универсальный, рекламный голос", "Универсальный, взрослый голос", "Глубокий, бархатный голос", "Глубокий, бархатный голос", "Уверенный, рекламный голос", "Универсальный, молодой голос", "Уверенный, рекламный голос", "Уверенный голос с хрипотцой"]
                    +player3({title: item, subtitle: "Голос "+value, url: 'player.mp3', playlist: 'man-voice'})
                  .button-more.button.button-block.button-blue.button-md Показать еще
              #tab2-1.tabs-voices__content
                p женские голоса

      .big-block
        div
          h3.big-block__title Хотите заказать ролик?
          p Пройдите простой тест и подберите лучший тип рекламы для вашего проекта
        a.button-next.big-block__button заполните бриф


  div(id=navItems[3].replace(' ', '-'))
    include ../layouts/partials/b-cases
  
  div(id=navItems[4].replace(' ', '-'))
    .container
      .section-contact
        .section-contact__side
          h2.title Контакты
          .section-contact__side-inner
            div
              .subtitle Наши менеджеры, решающие любые задачи.
              a.b-phone(href="tel:+375172095383") +375 17 209-53-83
            .time-work
              .time-work__item
                | Понедльник-четверг
                span С 10:00 до 18:00
              .time-work__item
                | Пятница
                span С 10:00 до 17:00
            .button.button-submit.button-red ЗАКАЗАТЬ ЗВОНОК

        .section-contact__content
          include ../components/persons/persons
