mixin counter(data)
  .b-counter
    span.b-counter__minus(data-button="-")
    .b-counter__control
      input.form-control(class=data.type && "has-type" type="number" value=data.value data-field="number" max=data.max || "999")
      if data.type
        .b-counter__text=data.type
    span.b-counter__plus(data-button="+")

mixin player(data)
  .b-player
    .b-player__icon.js-play-audio(data-url=data.url data-title=data.title data-playlist=data.playlist)
    .b-player__title= data.title

mixin player2(data)
  .b-player2
    .b-player2__icon.js-play-audio(data-url=data.url data-title=data.title data-playlist=data.playlist)
    .b-player2__content
      .b-player2__title= data.title
      .b-player2__subtitle= data.subtitle
      .b-player2__price= data.price
        span BYN

mixin player3(data)
  .b-player3(class=data.class)
    .b-player3__icon.js-play-audio(data-url=data.url data-title=data.title data-playlist=data.playlist)
    .b-player3__content
      .b-player3__title= data.title
      .b-player3__subtitle= data.subtitle

mixin steps(cls)
  .b-steps
    each item, value in [{ title: "Целевая аудитория", choose: "Выберите ца", choosen: "Мужчины и женщины 41 - 65" }, { title: "Реклама", choose: "Выберите тип", choosen: "Товар" }, { title: "Хотим", choose: "Выберите способ выхода", choosen: "Разыграть подарок" }]
      - var step = value+1
      .b-steps__item(class=step<=cls && 'is-active' class=step+1<=cls && 'is-choosen')
        .b-steps__step
          | 0
          =step
        .b-steps__title=item.title
        if step==cls
          .b-steps__choose=item.choose
        if step+1<=cls
          .b-steps__choosen=item.choosen
