include ../../layouts/mixins

#modalClip.modal-content

  .modal-title Хотите быстро записать яркий и эффективный ролик? Сделаем!

  | Чем больше полей вы заполните, тем лучше. Но не пропускайте поля со звездочкой.
  br
  br
  br

  form.formClip(id="form-clip")
    .form-group
      label.required Как вас зовут?
      input.form-control(type="text" placeholder="Например, Наталья." required)
    .form-group
      label.required Как с вами связаться?
      input.form-control(type="text" placeholder="Телефон, Viber, e-mail или другой контакт." required)
    .form-group
      label.required Как называется ваша компания?
      input.form-control(type="text" placeholder="Например, ООО \"Облако\"." required)
    .form-group
      label.required Что вы хотите рекламировать?
      input.form-control(type="text" placeholder="Например, товары для дома." required)
    label Когда вам нужен ролик?
    .form-offsets.form-offsets_3
      +form-day
      +form-month
      +form-year

    label Когда стартует рекламная кампания в эфире?
    .form-offsets.form-offsets_3
      +form-day
      +form-month
      +form-year
    .form-group
      label Почему именно в этот период?
      .checkboxes
          each item in ["Время скидок или акции", "Горячий сезон", "Праздничный период", "Другая причина (напишите)"]
              div
                  input(id="check-"+item type="checkbox")
                  label.checkbox-label(for="check-"+item)=item
      textarea.form-control(placeholder="Например, вы хотите связать старт рекламной кампании с каким-то событием.")
    .form-group
      label Продолжительность ролика?
      .b-counter-wrapper
        +counter({value: "13", type: "сек", min: 5, max: "45"})
        div Ваш ролик не должен быть длиннее, чем ... секунд.
    .form-group
      label.required
        | Какая информация
        |
        span.text-underline обязательно
        |
        | должна прозвучать в ролике?
      textarea.form-control(placeholder="Основная информация о рекламируемом товаре/услуге/фирме." required)
    .form-group
      label Какой у вас слоган?
      input.form-control(type="text" placeholder="Напишите, если он должен прозвучать.")
    .form-group
      label Какие контактные данные должны прозвучать?
      textarea.form-control(placeholder="Адрес, телефон, сайт...")

    label Что вы знаете о своей целевой аудитории?
    .form-offsets.form-offsets_3
      .form-group
        select.select.form-control(multiple)
          option(value="" selected disabled) Пол
          option(value="Мужской") Мужской
          option(value="Женский") Женский
    .form-offsets.form-offsets_3
      .form-group
        select.select.form-control(multiple)
          option(value="" selected disabled) Возраст
          each item, val in ["Младше 18", "19-29", "30-39", "40-49", "Старше 50"]
            option(value=item)= item
    .form-offsets.form-offsets_3
      .form-group
        select.select.form-control(multiple)
          option(value="" selected disabled) Доход
          option(value="Низкий") Низкий
          option(value="Средний") Средний
          option(value="Выше среднего") Выше среднего
    .form-group
      textarea.form-control(placeholder="Если есть дополнительная информация, напишите.")
    .form-group
      label Какие есть препятствия для роста продаж?
      .checkboxes
          each item in ["Высокая цена", "У конкурентов лучше условия", "Товар/услуга не знакомы покупателю", "Высокая конкуренция в отрасли", "Другое (напишите)"]
              div
                  input(id="check-"+item type="checkbox")
                  label.checkbox-label(for="check-"+item)=item
      textarea.form-control(placeholder="Какие-то другие препятствия для роста продаж.")
    .form-group
      label Что выгодно отличает ваш товар или услугу?
      .checkboxes
          each item in ["Новая технология производства", "Страна производства", "Скорость/модель работы", "Цена", "Другое (напишите)"]
              div
                  input(id="check-"+item type="checkbox")
                  label.checkbox-label(for="check-"+item)=item
      textarea.form-control(placeholder="Другие преимущества товара.")
    .form-group
      label Расскажите подробнее о вашем продукте.
      textarea.form-control(placeholder="Напишите о его отличительных свойствах, уникальном торговом предложении.")
    .form-group
      label Каким должен быть ваш ролик?
      .checkboxes
          each item in ["Сдержанным, информационным", "Эмоциональным", "Смешным", "Пафосным", "Личным", "Другое (напишите)"]
              div
                  input(id="check-"+item type="checkbox")
                  label.checkbox-label(for="check-"+item)=item
      textarea.form-control(placeholder="Иные пожелания к ролику.")
    .form-group
      label Что еще мы должны знать?
      textarea.form-control(placeholder="")


    .form-error-text Заполните пожалуйста все обязательные поля. Они отмечены красной точкой.

    .modal-footer
      button.button.button-red.button-submit(type="submit") Отправить бриф